{% extends "mestre.html" %}
{% block titulo %}Postar{% endblock titulo %}

{% load crispy_forms_tags %}
{% block conteudo %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title text-center mb-4">Criar Nova Postagem</h2>
        <form action="{% url "postar" %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formulario|crispy }}
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Publicar</button>
                <a href="{% url 'inicio' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock conteudo %}